#parent{
    padding:10px;
    height:20px;
    border:solid 2px;
}
    
    

#child1{
    width:5px;
    height:5px;
    background-color:red;
    padding:5px;
    margin-left:500px;
    border:solid 2px;
}
    
    
    #parent2{
    padding:10px;
    height:20px;
    border:solid 2px;
    margin-top:12px;
    
    
    
}



#child2{
    width:5px;
    height:5px;
    background:yellow;
    padding:5px;
    margin-left:1px;
    border:solid 2px;
}
#parent3{
    padding:10px;
    height:20px;
    border:solid 2px;
    margin-top:12px;
    margin-left:0;
}

#child3{
    width:5px;
    height:5px;
    background:blue;
    margin-left:1250px;
    padding:5px;
   
    border:solid 2px;
}
